<h1 class="text-center mt-4">Login For Alpha-Blog</h1>

<div class="container">

    
    <div class="row justify-content-center">
    <div class="col-10">
    <%= form_with(scope: :session,url: login_path , class:"shadow p-3 mb-3 bg-info rounded lgn", local:true ) do |f| %>
        <div class="form-group row">
        <%= f.label:email, class: 'col-2 col-form-label text-light'%>
        <div class="col-10">
        <%= f.email_field:email, class:'form-control shadow rounded', placeholder:"Enter Your Email"%>
        </div>
        </div>

        <div class="form-group row">
        <%= f.label:password, class: 'col-2 col-form-label text-light'%>
        <div class="col-10">
        <%= f.password_field:password , class:'form-control shadow rounded', placeholder:"Enter Your Password"%>
        </div>
        </div>
        
        <div class="form-group-row row justify-content-center">
        <%= f.submit  "Login", class:"btn btn-outline-light btn-lg"%>
        </div>
        </div>
        <div class="mb-3">
        <%= link_to '[ Cancel and Return To Signup ]', signup_path ,class: "text-white" %>
        </div>
    <%end%>
    </div>
</div>
