<div class="container bg1 row text-center">
<%@articles.each do |article|%>
 <div class="blog-card spring-fever">
  <div class="title-content">
    <h3><%= link_to article.title , article_path(article) %></h3>
    <% if article.user %>
    <div class="intro"> 
      <%= link_to article.user.username, user_path(article.user) %>
    </div>
    <% end%>
  </div>
  <div class="card-info">
    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
    <%= link_to 'Read Article', article_path(article) , class: 'btn btn-light'%>

              
    <%# <a href="#">Read Article<span class="licon icon-arr icon-black"></span></a> %>
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <%# <li><span class="licon icon-like"></span><a href="#">2</a></li>
      <li><span class="licon icon-com"></span><a href="#">12</a></li> %>
      <li><span class="licon icon-dat"></span>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago</li>
      <li><span class="licon icon-tag"></span>
          <% if article.categories.any? %>
              <span class="mt-2"><%= render article.categories %></span> 
          <% end %></li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div>
<%end%>

</div>
